body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blanchedalmond;
    background-color: rgb(81 81 81);
    display: grid;
    place-items: center;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    background-clip: padding-box;
    border: 4px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.gamebox {
    width: auto;
    height: auto;
    margin: auto;
}

.pregame {
    box-sizing: border-box;
    width: auto;
    min-width: 300px;
}

.pregame-player-list {
    width: auto;
    min-width: 200px;
    background-color: black;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.start-game {
    margin: 8px 0px 8px 0px;
    width: 100%;
    background-color: #f28c00;
    color: blanchedalmond;
    border-radius: 5px;
    border-width: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    height: 35px;
}

.user-list {
    height: 317.2px;
    width: auto;
    margin: 4px 2px 0px 0px;
    border: solid 2px black;
    border-radius: 10px;
    float: left;
    background-color: #3a3a3a;
    padding-top: 5px;
    padding-right: 10px;
    box-sizing: border-box;
}

.scoreboard {
    display: grid;
    place-items: center;
}

.score-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.score-list {
    list-style: none;
    padding: 0px;
    width: 150px;
}

.score-contianer {
    background-color: #3a3a3a;
    margin: 0px 5px 10px 5px;
    border-radius: 10px;
    padding: 0px 15px;
}
    
.error-message {
    height: 16px;
    margin: 0px;
}

.invis {
    display: none;
}

.right-float {
    float: right;
}

.letter_grid {
    margin: auto;
}

.red {
    border: 2px solid blanchedalmond;
    color: #e36666;
}

.green {
    border: 2px solid blanchedalmond;
    color: #6edb71;
}

button {
    border: none;
    color: blanchedalmond;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    border-radius: 10px;
    background-color: #f28c00;
}

button.letter_b {
    width: 100px;
    height: 100px;
    font-size: 20px;
    border-radius: 15px;
    margin: 2px;
}

button.letter_b:disabled {
    background-color: grey;
}

button.add_word{
    width: 100px;
    padding: 6px 6px;
    font-size: 20px;
    float: right;
}

input.reset_word {
    width: 35.2px;
    height: 35.2px;
}

img.delete_word {
    float: right;
    padding: 2px 5px 2px 0px;
    filter: invert(89%) sepia(21%) saturate(494%) hue-rotate(325deg) brightness(105%) contrast(101%);
}

img.delete_word:hover {
    opacity: 50%;
}

.word {
    width: 60%;
    height: 28px;
    float: left;
    border-radius: 32px;
    margin-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    color: blanchedalmond;
}

.word:focus {
    outline: none;
}

.word_submit {
    overflow: hidden;
}

.word_list {
    width: 65%;
    height: 300px;
    float: left;
    list-style-type: none;
    padding: 0px;
    margin-right: 30px;
    font-size: 20px;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    overflow: auto;
}

button.check_words {
    width: 100px;
    padding: 6px 6px;
    font-size: 20px;
    margin-top: 20px;
    float: right;
}

.words_list_submit {
    overflow: hidden;
}

.score-dist {
    border: 4px solid black;
    padding: 0px;
}

li.word_in_list {
    padding: 2px 0px 2px 10px;
}